@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #FFFFFF;
  color: #252323;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 6em;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  width: 100%;
}
.banner {
  background-image: url("../public/pwimage.jpeg");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > * {
  text-decoration: none;
  color: #252323;
}
.concrete-steps {
  margin: 5em 0;
  gap: 2em;
}
body {
  position: absolute;
}

button, .services-quote-btn {
  background-color: #14BBE2;
  border-radius: 5px;
  border: none;
  padding: 1em;
  color: #252323;
  font-weight: bold;
  text-decoration: none;
  font-size: 13.33px;
  font-size: 13.33px;
}

.services-quote-btn {
  background-color: #14BBE2;
  border-radius: 5px;
  border: none;
  padding: 1em;
  color: #252323;
  font-weight: bold;
  text-decoration: none;
  font-size: 13.33px;
}

.promo {
  color: #FFFFFF;
  background-color: #252323;
  width: 100%;
}
.call-btn {
  background-color: #252323;
  color: #14BBE2;
}

.logo {
   height: 100%;
   width: 100%;
}
.logo-container {
  height: 6em;
  width: 6em;
  background-image: url("../public/cc.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  color: #252323;
  margin-bottom: 2em;
}
.services-grid-item {
  background-color: #252323;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  flex: 1 0 0;
}
#driveway {
  background-image: url(../public/driveway.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#deck {
  background-image: url(../public/deck.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#house {
  background-image: url(../public/house.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fence {
  background-image: url(../public/fence.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#paint {
  background-image: url(../public/paint.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#rust {
  background-image: url(../public/rust.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-description {
  background-color: #252323;
  color: #14BBE2;
  opacity: .9;
  height: 7em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-general {
  background-color: #70798C;
  color: #282c34;
  padding: 10em;
  display: flex;
  flex-direction: column;
}
.services-general > *{
  font-size: 1.5em;
}
.services-important {
  font-size: 1.5em;
  font-weight: bold;
}
.banner-btn-container {
  width: 70%;
  background-color: rgb(37, 35, 35, .85);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  padding: 3em;
  gap: 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}
.banner-btn-container h1 {
  color: #FFFFFF;
}
.banner-btn {
  background-color: 847e89;
  color: #252323;
}
.concrete-steps {
  width: 65%;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.step-icon {
  height: 5em;
  width: 3em;
  color: 847e89;
}

.hamburger-icon {
  width: 2em;
  height: 2em;
}
.quote-btn {
  width: 11em;
  background-color: #14BBE2;
  color: #252323;
  border-radius: 5px;
  border: none;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 13.333px;
}
.nav-btns {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 1em 0;
}
.hamburger-icon {
  width: 96px;
}
.quote-form-container {
  width: 100%;
  background-color: #dbdbdb
}
.quote-form {
  display: flex;
  flex-direction: column;
  padding: 5em 3em;
}
.quote-form label {
  width: 15em;
  text-align: start;
}
.quote-form input {
  width: 20em;
  height: 2em;
}

@media screen and (min-width: 700px) {
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .check-col {
    width: 30em;
    margin: 0 auto;
  }
}

.job-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-width: 430px;
}

/* .quote-form-container {
  background-color: 847e89;
} */
input, textarea {
  background-color: #FFFFFF;
  border: 1px solid #252323;
  accent-color: #929191;
}

.form-row {
  margin-top: .5em;
}
.text-area {
  margin: 2em;
  gap: 1em;
}
.quote-submit-btn {
  background-color: #252323;
  color: #FFFFFF;
}
textarea {
  width: 370px;
  height: 6em;
  font-family: sans-serif;
}
.job-type-label {
  text-align: start;
}
.quote-form .text-center {
  text-align: center;
}
.open-menu {
  background-color: #252323;
  width: 100%;
}
.open-menu > * {
  color: #FFFFFF;
  text-decoration: none;
  padding: 1em;
}
.check-col {
  margin-top: 2em;
}
.contact-container {
  margin-bottom: 2em;
}
.quote-form h1 {
  margin-bottom: 2em;
}
.service-info {
  background-color: white;
  border-bottom: 2x solid white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: #252323;
  align-items: center;
  justify-content: center;
  height: 30em;
  flex: 1 0 0;
  height: 30em;
  width: 100%;
}
.service-info p {
  padding: 2em;
}
.service-info li p {
  padding: 0;
}

.service-info ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 70%;
  list-style: none;
}
.what-we-clean h3 {
  margin-bottom: 2em;
}
.services-container {
  padding-top: 5em;
  /* gap: 2em;  */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.service-container {
  background-color: #252323;
  color: #FFFFFF;
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .banner-btn-container {
    padding: 1em;
  }
  .checkbox-container input{
    width: 3em;
  }
}
@media screen and (max-width: 1000px) {
  .service-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #252323;
    
  }
  .service-info {
    padding: 2em;
  }
  .services-container {
    gap: 0;
  }
  .services-grid-item {
    height: 30em;
    
  }
  
  .service-description {
    background-color: #252323;
    color: #14BBE2;
    opacity: .9;
    height: 7em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
  }
}
.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 5em;
}
.satisfaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #dbdbdb;
  color: #252525;
}
.satisfaction-svg {
  height: 100%;
  width: 100%;
}
.satisfaction div {
  padding: 2em;
  /* margin-top: 2em; */
}
.works-steps {
  margin-bottom: 2em;
}
.pricing {
  padding: 5em 6em;
  gap: 2em;
}
.footer {
  background-color:#252323;
  width: 100%;
  height: 10em;
  box-shadow: inset;
  color: #FFFFFF;
}